name: Package publishing

on:
  release:
    types: [published]

jobs:
  publish-new-dipm-release:
    runs-on: ubuntu-latest

    container:
       image: python:3.12-slim-bullseye

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: setup
        run: apt-get update && apt-get install -y coreutils

      - name: install uv
        uses: astral-sh/setup-uv@v6

      - name: build and publish
        run: |
          uv build
          uv publish --token ${{secrets.PYPI_API_TOKEN}} --publish-url https://test.pypi.org/legacy/
